@use './../1-base/variables'
@use './../1-base/base-mixins'
@use 'layouts-mixins'

.header
    position: fixed
    top: 0
    left: 0
    width: 100%
    background-color: variables.$header-color
    z-index: 9999

    &-container
        @include layouts-mixins.container
        display: flex
        align-items: center
        justify-content: space-around
        padding: 0 1.5rem

        .logo
            font-size: 2rem
            letter-spacing: .1rem
            color: white

            i
                color: variables.$primary-color
                margin-left: 1rem
        
        .header-social

            ul
                display: flex
                align-items: center
                justify-content: space-between
                min-height: 7rem
                column-gap: 2rem

                li
                    font-size: 1.5rem
                    color: variables.$white-color
                    cursor: pointer

                    &:hover
                        color: variables.$primary-color

        .header-form
            display: flex
            align-items: center
            justify-content: center
            border: 3px solid variables.$text-color
            border-radius: 99px

            input
                &[type="text"]
                    background-color: variables.$header-color
                    outline: none
                    color: variables.$text-color
                    font-size: 1.2rem
                    border: 0px                    
                    height: 2rem
                    width: 18rem
                    margin-left: 1rem
            button
                &[type="submit"]
                    background-color: variables.$primary-color
                    font-size: 1.2rem
                    color: variables.$white-color
                    margin: 0 auto
                    outline: none
                    border: 0px
                    border-radius: 99px
                    width: 8rem
                    height: 2.5rem
                    cursor: pointer

                    i
                        margin-left: .2rem

    .header-bottom
        width: 100%
        background-color: variables.$headerBottom-color
        z-index: 9999
        min-height: 3rem
        display: flex
        align-items: center

        &-container
            @include layouts-mixins.container
            display: flex
            align-items: center
            justify-content: space-around
            padding: 0 1.5rem

            .nav-bar

                ul
                    display: flex
                    align-items: center
                    justify-content: space-between
                    min-height: 3.5rem
                    column-gap: 3rem

                    li
                        align-self: stretch
                        display: flex
                        align-items: center
                        cursor: pointer
                        font-size: 1.3rem
                        padding: 0 1rem
                        border-bottom: 2px solid variables.$primary-color

                        &:hover
                            background-color: variables.$header-color